.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;

    .card{
        
        flex-grow: 1;
        max-width: 27rem;
        flex-basis: 20rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: rgb(180, 180, 180);
        background-color: rgb(55, 53, 53);
        img{
            width: 100%;
            border-radius: 1rem;
        }
        h1{
            font-size: 1.5rem;
            font-weight: 500;
        }
      .description{
        opacity: 0.7;
        word-spacing: 0.4rem;
        line-height: 1.3;
      }
      .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        .tag{

            width: fit-content;
            white-space: nowrap;
            border-radius: 0.75rem;
            padding-inline: 1.25rem;
            padding-block: 0.75rem;
            background-color: rgb(92, 90, 90);
        }
      }
      .urls{
        display: flex;
        gap: 1rem;
        a{
            color: white;

        }
      }
    }
}