.window{
   
    background-color: black;
    border-radius: 1rem;
    overflow: hidden;
    color: rgb(200, 200, 200);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    height: 100%;
    overflow: hidden;
    
    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.385);
        display: flex;
        gap: 1.5rem;
        align-items: center;
        .dots{
            display: flex;
            gap: 0.25rem;
            .dot{
                height: 15px;
                width: 15px;
                background-color: white;
                border-radius: 50%;
            }
            .red{
                background-color: red;
            }
            .green{
                background-color: rgba(44, 154, 44, 0.734);
            }
            .yellow{
                background-color: rgb(227, 227, 107);
            }
        }
    }
    .main-content{
        height: 100%;
    }
    *::-webkit-scrollbar{
        width: 8px;

    }
    *::-webkit-scrollbar-thumb{
        background-color: rgba(168,168,168,0.4);
        border-radius: 4px;
    }
}