nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding-inline:0.15rem;
    padding-block: 0.2rem;
    background-color: rgba(91, 89, 89, 0.337);
    backdrop-filter: blur(5px);
    

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
    .left,.right{
        display: flex;
        gap: 1rem;
    }
}